@import "~izitoast/dist/css/iziToast.min.css";

@import "~bulma/bulma.sass";

body {
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

#app > .hero > .hero-body {
	padding: 0 0 17px
}

.section {
    padding: 2rem 1.5rem;
}

.success {
	padding: 3px;
	border: 1px solid #bddad5;
	border-radius: 50%;
	color: #23d160;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

.tabs a {
	
}