@import "~izitoast/dist/css/iziToast.min.css";

@import "~bulma/bulma.sass";

body {
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

#app > .hero > .hero-body {
	padding: 0 0 17px
}

.section {
    padding: 2rem 1.5rem;
}

.success {
	padding: 3px;
	border: 1px solid #bddad5;
	border-radius: 50%;
	color: #23d160;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

.danger {
	background: red
}



.hero.is-primary .level-item a:not(.button), .hero.is-primary .level-item .subtitle strong, .hero.is-primary .level-item .subtitle {
   	color: rgba(0, 0, 0, 0.8);
}

.hero.is-primary .level-item a.is-active:not(.button) {
	color: #00d1b2;
}
