@import "~izitoast/dist/css/iziToast.min.css";
@import "~bulma/bulma.sass";
@import "./pageloader.sass";


body {
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

.section {
    padding: 2rem 1.5rem;
}

.success {
	padding: 3px;
	border: 1px solid #bddad5;
	border-radius: 50%;
	color: #23d160;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

.level-item a:not(.button), .level-item .subtitle strong, .level-item .subtitle {
   	color: rgba(0, 0, 0, 0.8);
}

.level-item a.is-active:not(.button) {
	color: hsl(217, 71%, 53%);
}

.pagination a {
	color: hsl(217, 71%, 53%)
}
.pagination-link.is-current {
	background-color: hsl(217, 71%, 53%);
	border-color: hsl(217, 71%, 53%);
	color: hsl(0, 0%, 100%)
}

.loading {
	opacity: .3
}
